<footer>
    <div>
        <div>
            <h3>Deja un comentario</h3>
        </div>
        <div>
            <form action="">
                <div>
                <textarea name="" id="" cols="30" rows="10" placeholder="Comentanos"></textarea>
                </div>
                <div>
                    <input type="text" placeholder="Nombre">
                </div>
                <div>
                    <button>Enviar</button>
                </div>
            </form>
        </div>
    </div>
</footer>
