<aside>
    <div>
        <div>
            <h4>Ventajas de AngularJs</h4>
            <p>AngularJS es popular entre los desarrolladores web por un par de razones:</p>
            <div>
                <ul>
                    <li>Enlace bidireccional de datos: dado que la arquitectura de AngularJS enlaza JavaScript y HTML, el código de ambos ya está sincronizado. Por lo tanto, el framework ahorra mucho tiempo a los desarrolladores.</li>
                    <li>Directivas: el marco amplía la funcionalidad de los archivos HTML con directivas. Para habilitar las directivas, los desarrolladores agregan el prefijo ng- a los atributos HTML.</li>
                    <li>Estructura de código: AngularJS brinda plantillas; lo que te permite producir aplicaciones con código limpio. No solo te ahorra tiempo, sino que también facilita la modificación o reparación de las aplicaciones.</li>
                    <li>......</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h4>Antes de aprender AngularJS</h4>
        <p>Debes recordar que AngularJS es un framework de JavaScript. En consecuencia, debes comprender los conceptos básicos del lenguaje de programación antes de aprender AngularJS.</p>
        <p>.......</p>
        <div>
            <ul>
                <li>Seguir el rápido desarrollo de Angular</li>
                <li>.....</li>
            </ul>
        </div>
    </div>
</aside>
