<nav class="container">
    <div class="row">
        <div> 
            <div>
                <h2>Tabla de Contenido</h2>
            </div>
            <div>
                <button class="btn btn-warning">Qu&eacute; es Angular</button>
            </div>
            <div>
                <button class="btn btn-warning">Ventajas de AngularJs</button>
            </div>
            <div> 
                <button class="btn btn-warning">Antes de aprender AngularJs</button>
            </div>
        </div>
    </div>
</nav>

<section>
    <div>
        <div>
            <h4>Qu&eacute; es Angular</h4>
            <p>{{parrafo}}</p>
            <p>El framework es una creación de los ingenieros de Google, Misko Hevery y Adam Abrons. Google lanzó oficialmente la primera versión, AngularJS, en 2012, y la ha mantenido desde entonces.</p>
            <p>Antes del lanzamiento de AngularJS, había otras formas de crear páginas dinámicas. Sin embargo, no eran tan convenientes como este framework.</p>
        </div>
    </div>
    <div>
        <div>
            <h4>Ventajas de AngularJs</h4>
            <p>AngularJS es popular entre los desarrolladores web por un par de razones:</p>
            <div>
                <ul>
                    <li>Enlace bidireccional de datos: dado que la arquitectura de AngularJS enlaza JavaScript y HTML, el código de ambos ya está sincronizado. Por lo tanto, el framework ahorra mucho tiempo a los desarrolladores.</li>
                    <li>Directivas: el marco amplía la funcionalidad de los archivos HTML con directivas. Para habilitar las directivas, los desarrolladores agregan el prefijo ng- a los atributos HTML.</li>
                    <li>Estructura de código: AngularJS brinda plantillas; lo que te permite producir aplicaciones con código limpio. No solo te ahorra tiempo, sino que también facilita la modificación o reparación de las aplicaciones.</li>
                    <li>Pruebas: el marco admite pruebas unitarias y de integración.</li>
                    <li>Futuro brillante: el futuro de Angular es brillante debido a su funcionalidad y popularidad. Su base de usuarios sigue creciendo y tiene una gran cantidad de documentación en profundidad que se actualiza constantemente.</li>
                    <li>Compatibilidad móvil y de escritorio: AngularJS puede ejecutarse en la mayoría de los navegadores web. No solo en computadoras de escritorio, sino también en dispositivos móviles.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h4>Antes de aprender AngularJS</h4>
        <p>Debes recordar que AngularJS es un framework de JavaScript. En consecuencia, debes comprender los conceptos básicos del lenguaje de programación antes de aprender AngularJS.</p>
        <p>Lo mismo se aplica a los lenguajes de programación relacionados como HTML, CSS y AJAX.</p>
        <p>Conocer los conceptos básicos de JavaScript antes de aprender AngularJS te permitirá:</p>

        <div>
            <ul>
                <li>Seguir el rápido desarrollo de Angular</li>
                <li>Saber cuándo usar el marco</li>
                <li>Convertirte en un desarrollador flexible e innovador</li>
            </ul>
        </div>
    </div>
</section>